{
    "tasks": [
        {
            "uuid": "aliyunsub",
            "src": "/aliyun/test",
            "dst": "/115/test",
            "cron": "0/1 * * * *"
        },
        {
            "uuid": "movie-pilot",
            "src": "/mydisk/test",
            "dst": "/115/test",
            "cron": "0/1 * * * *",
            "mounted_path": ""
        }
    ],
    "alist2strm_tasks": [
        {
            "uuid": "movies-strm",
            "source_dir": "/115/电影",
            "target_dir": "movies",
            "cron": "0 */6 * * *",
            "flatten_mode": false,
            "subtitle": true,
            "image": false,
            "nfo": true,
            "mode": "alist_url",
            "overwrite": false,
            "other_extensions": [],
            "max_workers": 20,
            "max_downloaders": 3
        }
    ],
    "alist": {
        "url": "https://0.0.0.0:5244",
        "apikey": "****",
        "task_missing_timeout_seconds": 600,
        "request_timeout_seconds": 15,
        "healthcheck_interval_seconds": 15,
        "healthcheck_timeout_seconds": 3
    },
    "cover_dst_when_diff": false,
    "delete_src_when_same": false,
    "emby":{
        "enabled": false,
        "url": "https://0.0.0.0:2096",
        "apikey": "*****",
        "mount_path": "/media/webdav"
    },
    "webhook":{
        "enabled": false,
        "url": "http://0.0.0.0:0000/api"
    },
    "dir_tree_build_tasks":[
        {
            "uuid": "",
            "src": "/115",
            "qps":0.01,
            "cron": "0 12 * * *",
            "run_at_start": true
        }
    ]
}
  
